astroid==2.5.6
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
colorama==0.4.4
Flask==1.1.2
Flask-JWT-Extended==4.2.0
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
passlib==1.7.4
pycparser==2.20
PyJWT==1.4.0
pylint==2.8.2
pylint-flask-sqlalchemy==0.2.0
six==1.16.0
SQLAlchemy==1.4.13
toml==0.10.2
Werkzeug==1.0.1
wrapt==1.12.1
